body{
	background-color: #222;
	/*#fff=white*/
	color: #eee;

	margin-top: 20px;

	<font-family: 'Playfair Display', serif; 

}

h1{
	font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.thumbnails2{
	width: 10%;
	float: right;
	margin: 0 2%
}

.thumbnails2 img{
	
	height: 85px;
	border: 4px solid #555;
	margin: 0 2%;
}

.thumbnails2 p{
	color: #145e33;
	text-align: center;
}

.thumbnails{
	width: 10%;
	float: left;
	margin: 0 2%
}

.thumbnail{
	text-align: center;
	margin: inherit;
}

.thumbnails p{
	color: #145e33;
	text-align: center;
	}

.thumbnails img{
	
	height: 85px;
	border: 4px solid #555;
	margin: 0 2%;
	max-width: 100%;
}

.thumbnails2 img{
	
	height: 85px;
	border: 4px solid #555;
	margin: 0 2%;
	max-width: 100%
}

.thumbnails2 img:hover{
	border: 4px solid #145e33;
	height: 85px;
	border-radius: 25px;


}

.thumbnails img:hover{
	border: 4px solid #145e33;
	height: 85px;
	border-radius: 25px

}

.preview{
	text-align: center;
	width: 60%;
	float: left;
	margin: 0% 5%;

}

.preview img{
	width: 100%;
	max-width: 100%;
}